@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital@0;1&family=Source+Code+Pro:wght@300&display=swap');
*
{
	padding: 0px;
	margin:  0px;
	text-orientation: none;
	list-style: none;
	box-sizing: border-box;
   font-family: 'Source Code Pro', monospace;
}
body
{
	font-family: montserrat;
	background:  #ffba93
}

nav
{   
	background: #9f5f80 ;
	height: 80px;
	width: 100%;
} 

lable.logo
{
	color :#e3d18a ;
	font-size: 60px;
	line-height: 60px;
	padding: 0 40px ;
	font-weight: bold;
	font-family: 'Kaushan Script', cursive;
	float: left;
  list-style-type: none;
}

nav ul
{
	float: right;
	margin-right: 90px;
}

nav ul li
{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;

}

nav ul li a 
{
	text-decoration-line:none;
	color : #ffd384;
	display: block ;
	padding: 10px ;
    font-size: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Love Ya Like A Sister', cursive;
}
a.active , a:hover 
{ 

	background: #583d72;
	transition: .5s;
}
section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
  background: url(hb.jpg)no-repeat;
  background-size: 100% 100% ;
  background-position: center;
}
.content
{
	max-width: 720px;
	margin: 30px 70px;
}
.content .info h2 
{
	color: #583d72;
	font-size: 55px;
	font-weight: 900px;
	font-family: 'Kaushan Script', cursive;
}
.content .info h2 span 
{
	font-size: 45px;
	color: #9f5f80;
	font-family: 'Kaushan Script', cursive;

}
p
{
	color: #9f5f80;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
}
span 
{
	font-family: 'Love Ya Like A Sister', cursive;

}
.content .info-btn
{
	color:#583d72 ;
	background:#e3d18a ;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 30px;
	font-weight: 700px;
}
.content .info-btn:hover
{
background: #d8c292;
}
.smicons
{
	display: flex;
	justify-content: center;
	align-items: center 
	margin:auto;
}
.smicons a 
{
	position: relative;
	color: #6b011f;
	font-size: 25px;
	transition: 0.3s;
	transition-property:transform; 
}
.smicons a:not(:last-child)
{
	margin-right: 50px;

}
.smicons a:hover
{
	transform: scale(1.5);
	background: #d8c292;
}